body { min-height: 100vh; display: flex; flex-direction: column; }
header{height: 7vh;} 
main{flex-grow: 1;} 
footer{height: 7vh; }

.background-image{
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
  background-size: cover;
}